<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="https://media.discordapp.net/attachments/1238570317308235859/1241248948459671623/logo_white.png?ex=664982aa&is=6648312a&hm=2fd956ed321ae193ef6b725ee3efdf86834a9deff3548db4d9c4da2635b8453a&=&format=webp&quality=lossless" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		<link rel="manifest" href="{MediaRoute}/manifest.json" />
		<title>Tesuto - Redirect</title>
		<style>
			body {

				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				margin: 0;
				background: #000;
			}
			.logo {
				max-width: 200px;
				width: 100%;
				animation: pump 1s ease-in-out infinite alternate both;
				transform-origin: center;
			}
			@keyframes pump {
				from {
					transform: scale(1);
				}
				to {
					transform: scale(1.5);
				}
			}
		</style>
	</head>
	<body>
		<div class="logo">
			<img width="100%" src="https://media.discordapp.net/attachments/1238570317308235859/1241248948459671623/logo_white.png?ex=664982aa&is=6648312a&hm=2fd956ed321ae193ef6b725ee3efdf86834a9deff3548db4d9c4da2635b8453a&=&format=webp&quality=lossless" alt="Logo" />
		</div>
        
		<script>
			setTimeout(function () {
				window.location.href = "https://github.com/MoussaabBadla";
			}, 2500);
		</script>
	</body>
</html>
